@inherits BaseComponent


<Card Class="card-flight">
    <Figure Size="FigureSize.Is256x256" Padding="Blazorise.Padding.Is1">
        <FigureImage Width="@Blazorise.Width.Px(256)" Height="@Blazorise.Height.Px(256)" Source="@($"data:image/jpeg;base64,{FlightInfo.Image}")" AlternateText="empty-256x256" Rounded />
    </Figure>
    <CardBody>
        <CardTitle Size="5">@FlightInfo.ToLocation.City</CardTitle>
        <Divider DividerType="DividerType.Dashed" />
        <p>
            <Blazorise.Icon Name="@FontAwesomeIcons.MoneyBill1" IconStyle="@IconStyle.Solid" />
            @FlightInfo.Price @FlightInfo.Currency
        </p>
        <Divider DividerType="DividerType.Dashed" />
        <p>
            <Blazorise.Icon Name="@FontAwesomeIcons.PlaneDeparture" IconStyle="@IconStyle.Solid" />
            @FlightInfo.FromLocation.City, @FlightInfo.FromLocation.Country
        </p>
        <p>
            @FlightInfo.DepartureTime
        </p>
        <Divider DividerType="DividerType.Dashed" />
        <p>
            <Blazorise.Icon Name="@FontAwesomeIcons.PlaneArrival" IconStyle="IconStyle.Solid" />
            @FlightInfo.ToLocation.City, @FlightInfo.ToLocation.Country
        </p>
        <p>
            @FlightInfo.ArrivalTime
        </p>
        <Button Class="btn-group-justified" Clicked="@OnClick" Color="@Color.Primary">Book now</Button>
    </CardBody>
</Card>