@inherits BaseComponent


<Card Class="card-flight">
    <Figure Size="FigureSize.Is128x128">
        <FigureImage Width="@Blazorise.Width.Px(128)" Height="@Blazorise.Height.Px(128)" Source="@($"data:image/jpeg;base64,{FlightInfo.Image}")" AlternateText="empty-256x256" Rounded />
    </Figure>
    <CardBody>
        <CardTitle Size="5">@FlightInfo.ToLocation.City</CardTitle>
        <Divider DividerType="DividerType.Dashed"/>
        <CardText>
            <p>
                <Blazorise.Icon Name="@FontAwesomeIcons.MoneyBill1" IconStyle="@IconStyle.Solid"/>
                @FlightInfo.Price @FlightInfo.Currency
            </p>
            <Divider DividerType="DividerType.Dashed"/>
            <p>
                <Blazorise.Icon Name="@FontAwesomeIcons.PlaneDeparture" IconStyle="@IconStyle.Solid"/>
                @FlightInfo.FromLocation.City, @FlightInfo.FromLocation.Country, @FlightInfo.DepartureTime
            </p>
            <Divider DividerType="DividerType.Dashed"/>
            <p>
                <Blazorise.Icon Name="@FontAwesomeIcons.PlaneArrival" IconStyle="IconStyle.Solid"/>
                @FlightInfo.ToLocation.City, @FlightInfo.ToLocation.Country, @FlightInfo.ArrivalTime
            </p>
        </CardText>
        <Button Class="btn-group-justified" Clicked="@OnClick" Color="@Color.Primary">Book now</Button>
    </CardBody>
</Card>