@page "/ticket/{id}"

<PageTitle>Destination Details</PageTitle>

<Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnX" Width="Width.Is75" Class="container">
    <Heading Size="HeadingSize.Is1" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center">
        Destination Details
    </Heading>
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center">
        Welcome to Our World, Where<br /> Innovation Meets Purpose, and<br /> Possibilities Unfold.
    </Heading>

    <Div Class="row">
        <Div Class="col-md-5">
            <Figure Size="FigureSize.Is512x512">
                <FigureImage Width="@Blazorise.Width.Px(512)" Height="@Blazorise.Height.Px(512)" Source="@($"data:image/jpeg;base64,{_ticketInfo.Image}")" AlternateText="empty-512x512" Rounded />
                <FigureCaption>Paris</FigureCaption>
            </Figure>
        </Div>
        <Div Class="col-md-5 detail">
            <Paragraph TextWeight="TextWeight.Bold">Start Point Country: @_ticketInfo.StartPointCountry</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Start Point City: @_ticketInfo.StartPointCity</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Start Point Airport: @_ticketInfo.StartPointAirport</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Departure Time: @_ticketInfo.DepartureTime</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Destination Country: @_ticketInfo.DestinationCountry</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Destination City: @_ticketInfo.DestinationCity</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Destination Airport: @_ticketInfo.DestinationAirport</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Arrival Duration: @_ticketInfo.ArrivalDuration</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Company: @_ticketInfo.CompanyName</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Layovers:</Paragraph>
            <DataGrid TItem="Layover"
                      Data="@(_ticketInfo.Layovers)"
                      SelectionMode="DataGridSelectionMode.Single"
                      Sortable
                      Editable="false"
                      Narrow>
                <DataGridCommandColumn />
                <DataGridColumn Field="@nameof(Layover.StartPointCountry)" Caption="Start Point Country" Sortable="false" />
                <DataGridColumn Field="@nameof(Layover.StartPointCity)" Caption="Start Point City" Sortable="false" />
                <DataGridColumn Field="@nameof(Layover.StartPointAirport)" Caption="Start Point Airport" Sortable="false"/>
                <DataGridColumn Field="@nameof(Layover.DepartureTime)" Caption="Departure Time" Sortable="false" />
                <DataGridColumn Field="@nameof(Layover.DestinationCountry)" Caption="Destination Country" Sortable="false"/>
                <DataGridColumn Field="@nameof(Layover.DestinationCity)" Caption="Destination City" Sortable="false"/>
                <DataGridColumn Field="@nameof(Layover.DestinationAirport)" Caption="Destination Airport" Sortable="false"/>
                <DataGridColumn Field="@nameof(Layover.ArrivalTime)" Caption="Arrival Duration" Sortable="false" />
                <DataGridColumn Field="@nameof(Layover.CompanyName)" Caption="Company" Sortable="false" />
                <DataGridColumn Field="@nameof(Layover.PlaneFacilities)" Caption="Plane Facilities" Sortable="false">
                    <DisplayTemplate>
                        @{
                            var planeFacilities = (context as Layover)?.PlaneFacilities;
                        }
                        <ListView TItem="PlaneFacility"
                                  Data="@planeFacilities"
                                  TextField="item => item.Name.ToString()"
                                  ValueField="item => item.Id.ToString()"
                                  Mode="ListGroupMode.Static"
                                  MaxHeight="300px">
                        </ListView>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Field="@nameof(Layover.Order)" Caption="Order" Displayable="false" Sortable="true" SortDirection="SortDirection.Ascending" />
            </DataGrid>
            <Paragraph TextWeight="TextWeight.Bold">Price:@_ticketInfo.Price</Paragraph>
            <Paragraph TextWeight="TextWeight.Bold">Currency:@_ticketInfo.Currency</Paragraph>
        </Div>
    </Div>
    <Button Class="btn-group-justified" Clicked="@OnClick" Color="@Color.Primary">Book now</Button>
</Div>
