@page "/account"
@inherits ComponentBase
@implements IDisposable
@attribute [Authorize(Roles = Roles.User)]

<Div Class="details-background">
    <Image Source="../images/welcome-hero/booking.jpg"></Image>
</Div>
    <Div Class="account-txt">
        <h2>Personal <Paragraph>Details</Paragraph></h2>
    </Div>

    <Table Class="account-table">
        <TableBody>
            <Validations Mode="ValidationMode.Auto" Model="@_user">
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Image:</TableRowHeader>
                    <TableRowCell>
                        <Figure Size="FigureSize.Is128x128">
                            <FigureImage Width="Width.Px(128)" Height="Height.Px(128)" Source="@($"data:image/jpeg;base64,{_user.ProfileImage}")" AlternateText="empty-256x256" Rounded/>
                        </Figure>
                        @if (_showProfileEdit == 1)
                        {
                            <FilePicker Upload="@OnImageUploaded" Filter="image/*" Width="Width.Px(128)"/>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showProfileEdit = 1 - _showProfileEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Username:</TableRowHeader>
                    <TableRowCell>
                        @_user.UserName
                    </TableRowCell>
                    <TableRowCell></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">First Name:</TableRowHeader>
                    <TableRowCell>
                        <p>@_user.FirstName</p>
                        @if (_showFirstNameEdit == 1)
                        {
                            <Validation>
                                <TextEdit Placeholder="Your first name" @bind-Text="@_user.FirstName">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showFirstNameEdit = 1 - _showFirstNameEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Last Name:</TableRowHeader>
                    <TableRowCell>
                        <p>@_user.LastName</p>
                        @if (_showLastNameEdit == 1)
                        {
                            <Validation>
                                <TextEdit Placeholder="Your last name" @bind-Text="@_user.LastName">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showLastNameEdit = 1 - _showLastNameEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">CNP:</TableRowHeader>
                    <TableRowCell>@_user.CNP</TableRowCell>
                    <TableRowCell></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Email:</TableRowHeader>
                    <TableRowCell>
                        <p>@_user.Email</p>
                        @if (_showEmailEdit == 1)
                        {
                            <Validation>
                                <TextEdit Placeholder="Your email" @bind-Text="@_user.Email">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showEmailEdit = 1 - _showEmailEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Phone:</TableRowHeader>
                    <TableRowCell>
                        <p>@_user.PhoneNumber</p>
                        @if (_showPhoneNumberEdit == 1)
                        {
                            <Validation>
                                <TextEdit Placeholder="Your phone number" @bind-Text="@_user.PhoneNumber">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showPhoneNumberEdit = 1 - _showPhoneNumberEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
                <TableRow Border="new FluentBorder().Is1">
                    <TableRowHeader Background="Background.Light">Password:</TableRowHeader>
                    <TableRowCell>
                        <p>*******</p>
                        @if (_showPasswordEdit == 1)
                        {
                            <Validation>
                                <TextEdit Placeholder="Your old password" @bind-Text="@_user.OldPassword">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                                <TextEdit Placeholder="Your new password" @bind-Text="@_user.NewPassword">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                                <TextEdit Placeholder="Confirm new password" @bind-Text="@_user.ConfirmPassword">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Validation>
                        }
                    </TableRowCell>
                    <TableRowCell><Button Color="Color.Danger" Clicked="() => { _showPasswordEdit = 1 - _showPasswordEdit; }"> Edit</Button></TableRowCell>
                </TableRow>
            </Validations>
        </TableBody>
        <Field>
            <Button Width="Width.Max100" Color="Color.Success" Clicked="SaveAsync" Disabled="@(_oldUser.ProfileImage == _user.ProfileImage && _oldUser.Email == _user.Email && _oldUser.FirstName == _user.FirstName && _oldUser.LastName == _user.LastName && _oldUser.PhoneNumber == _user.PhoneNumber && _oldUser.NewPassword == _user.NewPassword && _oldUser.OldPassword == _user.OldPassword)">
                Save
            </Button>
        </Field>
        <Field>
            <Button ElementId="logout" Width="Width.Max100" Color="Color.Warning" Clicked="LogoutAsync">
                Logout
            </Button>
        </Field>
        <Field>
            <Button Width="Width.Max100" Color="Color.Danger" Clicked="DeleteAsync">
                Delete Account
            </Button>
        </Field>
    </Table>
