@page "/users"
@inherits ComponentBase
@using global::Models
@implements IDisposable

<Div Class="container">
<DataGrid TItem="@User"
          Data="@_users"
          @bind-SelectedRow="@_selectedUser"
          Editable
          Responsive
          ShowPager
          CommandMode="DataGridCommandMode.ButtonRow">
    <DataGridColumns>
        <DataGridColumn Field="@nameof(User.Id)" Caption="#" Sortable="false" />
        <DataGridColumn Field="@nameof(User.FirstName)" Caption="First Name" Editable />
        <DataGridColumn Field="@nameof(User.LastName)" Caption="Last Name" Editable />
        <DataGridColumn Field="@nameof(User.Email)" Caption="Email" Editable />
        <DataGridColumn Field="@nameof(User.UserName)" Caption="User Name" Editable />
        <DataGridColumn Field="@nameof(User.PhoneNumber)" Caption="Phone" Editable />
        <DataGridColumn Field="@nameof(User.CNP)" Caption="CNP" Editable />
        <DataGridColumn Field="@nameof(User.ProfileImage)" Caption="Profile Image" Editable />
        <DataGridColumn Field="@nameof(User.Document)" Caption="Document" Editable />
    </DataGridColumns>
    <ButtonRowTemplate>
        <Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
        <Button Color="Color.Primary" Disabled="(_selectedUser is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
        <Button Color="Color.Danger" Disabled="(_selectedUser is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
    </ButtonRowTemplate>
</DataGrid>
</Div>