@page "/history"
@inherits ComponentBase
@implements IDisposable

@attribute [Authorize(Roles = Roles.User)]

<PageTitle>Booking History</PageTitle>

<Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnX" Width="Width.Is75" Class="container">
    <Heading Size="HeadingSize.Is2" Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center" Italic="true">
        Booking History
    </Heading>
    @foreach (var ticketInfo in flights)
    {
        <Card Class="history">
            <CardBody Class="row">
                <Figure Size="FigureSize.Is128x128">
                    <FigureImage Width="@Blazorise.Width.Px(128)" Height="@Blazorise.Height.Px(128)" Source="@($"data:image/jpeg;base64,{ticketInfo.Image}")" AlternateText="empty-48x48" Rounded />
                 </Figure>
                 <Div Class="col-md-5">
                     <CardText>
                         <Paragraph TextSize="new FluentTextSize().Heading3" Italic="true">Start from </Paragraph>@ticketInfo.FromLocation.Country, @ticketInfo.FromLocation.City,  @ticketInfo.DepartureTime
                    </CardText>
                     <CardText>
                        <Paragraph TextSize="new FluentTextSize().Heading3" Italic="true"> Destination to</Paragraph> @ticketInfo.ToLocation.Country, @ticketInfo.ToLocation.City, @ticketInfo.ArrivalTime
                     </CardText>
                     <CardText>
                        <Paragraph TextSize="new FluentTextSize().Heading3" Italic="true">Price</Paragraph> @ticketInfo.Price @ticketInfo.Currency
                     </CardText>
                </Div>
            </CardBody>
        </Card>
    }
</Div>
