@page "/booking"


@inherits BaseComponent

<PageTitle>Booking</PageTitle>

<Form TextAlignment="TextAlignment.Center">
    <Accordion Class=" welcome-hero">
        <AccordionItem @bind-Visible="@accordionItem1Visible">
            <AccordionHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle Class="single-how-works">Personal Details</AccordionToggle>
                </Heading>
            </AccordionHeader>
            <AccordionBody>
                <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                    <FieldLabel>
                        FirstName
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="Type your first name" />
                    </FieldBody>
                </Field>
                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            LastName
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Type your last name" />
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Phone
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Type your number phone" />
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Email
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Type your email" />
                        </FieldBody>
                    </Field>
                </Fields>

            </AccordionBody>
        </AccordionItem>
        <AccordionItem @bind-Visible="@accordionItem2Visible">
            <AccordionHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle Class="single-how-works">Booking Details</AccordionToggle>
                </Heading>
            </AccordionHeader>
            <AccordionBody>

                <Fields>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            From
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>Sibiu</SelectItem>
                                <SelectItem>Bucharest</SelectItem>
                                <SelectItem>Brasov</SelectItem>
                                <SelectItem>Craiova</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            To
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>Sibiu</SelectItem>
                                <SelectItem>Bucharest</SelectItem>
                                <SelectItem>Brasov</SelectItem>
                                <SelectItem>Craiova</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Preferred Airline
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>American Airline</SelectItem>
                                <SelectItem>Delta Airline</SelectItem>
                                <SelectItem>Frontier Airline</SelectItem>
                                <SelectItem>Jet Blue</SelectItem>
                                <SelectItem>Southwest Airlines</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Preferred Seating
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>Window</SelectItem>
                                <SelectItem>Aisle</SelectItem>
                                <SelectItem>Special (Request note below)</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Departure date
                        </FieldLabel>
                        <FieldBody>
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <DatePicker @ref="@datePickerDestination" TValue="DateTime?" @bind-Date="@valueDestination" />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color="Color.Light" Clicked="@(()=>datePickerDestination.ToggleAsync())">
                                        <Icon Name="IconName.CalendarDay" />
                                    </Button>
                                </Addon>
                            </Addons>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Return Date
                        </FieldLabel>
                        <FieldBody>
                            <Addons>
                                <Addon AddonType="AddonType.Body">
                                    <DatePicker @ref="@datePickerReturn" TValue="DateTime?" @bind-Date="@valueReturn" />
                                </Addon>
                                <Addon AddonType="AddonType.End">
                                    <Button Color="Color.Light" Clicked="@(()=>datePickerReturn.ToggleAsync())">
                                        <Icon Name="IconName.CalendarDay" />
                                    </Button>
                                </Addon>
                            </Addons>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Adult(12+ yrs)
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>1</SelectItem>
                                <SelectItem>2</SelectItem>
                                <SelectItem>3</SelectItem>
                                <SelectItem>4</SelectItem>
                                <SelectItem>5+</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Infant(under 2 yrs)
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string">
                                <SelectItem>1</SelectItem>
                                <SelectItem>2</SelectItem>
                                <SelectItem>3</SelectItem>
                                <SelectItem>4</SelectItem>
                                <SelectItem>5+</SelectItem>
                            </Select>
                        </FieldBody>
                    </Field>
                </Fields>
                <Field>
                    <FieldLabel>
                        Any Message...
                    </FieldLabel>
                    <FieldBody>
                        <MemoEdit Placeholder="Your message here" Rows="2" />
                    </FieldBody>
                </Field>

            </AccordionBody>
        </AccordionItem>
    </Accordion>
    <Field>
        <Button Color="Color.Danger">
            Submit
        </Button>
    </Field>
</Form>