@page "/booking"

@inherits BaseComponent

<PageTitle>Booking</PageTitle>

<Div Class="booking" Display="new FluentDisplay().Flex">
    <Div Class="btn-group-justified">
        <Div Class="col-md-6 col-sm-6">
            <Form>
                <Fields>
                    <Card>
                        <CardHeader>
                            <CardTitle Size="3">
                                From
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Country
                                </FieldLabel>
                                <FieldBody>
                                    <Select TValue="string" @bind-SelectedValue="@BookingForm.StartPointCountry">
                                        @*@for()
                                       <SelectItem>@BookingForm.Country</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    City
                                </FieldLabel>
                                <FieldBody>
                                    <Select TValue="string" @bind-SelectedValue="@BookingForm.StartPointCity">
                                        @*<SelectItem>Sibiu</SelectItem>
                                        <SelectItem>Atena</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Airport
                                </FieldLabel>
                                <FieldBody>
                                        <Select TValue="string" @bind-SelectedValue="@BookingForm.StartPointAirport">
                                        @*<SelectItem>Henry</SelectItem>
                                        <SelectItem>Atena</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                        </CardBody>
                    </Card>
                    <Card Class="booking-form">
                        <CardHeader>
                            <CardTitle Size="3">
                                To
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Country
                                </FieldLabel>
                                <FieldBody>
                                        <Select TValue="string" @bind-SelectedValue="@BookingForm.DestinationCountry">
                                        @*<SelectItem>Romaina</SelectItem>
                                        <SelectItem>Grace</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    City
                                </FieldLabel>
                                <FieldBody>
                                        <Select TValue="string" @bind-SelectedValue="@BookingForm.DestinationCity">
                                        @*<SelectItem>Sibiu</SelectItem>
                                        <SelectItem>Atena</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Airport
                                </FieldLabel>
                                <FieldBody>
                                        <Select TValue="string" @bind-SelectedValue="@BookingForm.DestinationAirport">
                                        @*<SelectItem>Henry</SelectItem>
                                        <SelectItem>Atena</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                        </CardBody>
                    </Card>
                    <Card Class="booking-form">
                        <CardHeader>
                            <CardTitle Size="3">
                                Preferred Airline
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Name
                                </FieldLabel>
                                <FieldBody>
                                    <Select TValue="string" @bind-SelectedValue="@Company.Name">
                                        @*<SelectItem>American Airline</SelectItem>
                                        <SelectItem>Delta Airline</SelectItem>
                                        <SelectItem>Frontier Airline</SelectItem>
                                        <SelectItem>Jet Blue</SelectItem>
                                        <SelectItem>Southwest Airlines</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Route
                                </FieldLabel>
                                <FieldBody>
                                    <Select TValue="string" @bind-SelectedValue="@Company.Route">
                                        @*<SelectItem>American Airline</SelectItem>
                                        <SelectItem>Delta Airline</SelectItem>
                                        <SelectItem>Frontier Airline</SelectItem>
                                        <SelectItem>Jet Blue</SelectItem>
                                        <SelectItem>Southwest Airlines</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                        </CardBody>
                    </Card>
                    <Card Class="booking-form">
                        <CardHeader>
                            <CardTitle Size="3">
                                Departure Data
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Departure date
                                </FieldLabel>
                                <FieldBody>
                                    <Select @bind-SelectedValue="@BookingForm.DepartureTime">
                                        @*<SelectItem>12/03/2024</SelectItem>
                                        <SelectItem>12/05/2024</SelectItem>
                                        <SelectItem>20/07/2024</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                        </CardBody>
                    </Card>
                    <Card Class="booking-form">
                        <CardHeader>
                            <CardTitle Size="3">
                                Return Data
                            </CardTitle>
                        </CardHeader>
                        <CardBody>
                            <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                                <FieldLabel>
                                    Return date
                                </FieldLabel>
                                <FieldBody>
                                    <Select @bind-SelectedValue="@BookingForm.ArrivalTime">
                                        @*<SelectItem>12/03/2024</SelectItem>
                                        <SelectItem>12/05/2024</SelectItem>
                                        <SelectItem>20/07/2024</SelectItem>*@
                                    </Select>
                                </FieldBody>
                            </Field>
                        </CardBody>
                    </Card>
                </Fields>
            <Field>
                <FieldLabel>
                    <Button Color="Color.Primary" Clicked="@personalDetails.ShowModal">Do you want another ticket?</Button>
                </FieldLabel>
                <FieldBody>
                </FieldBody>
            </Field>
            <Field>
                <FieldLabel>
                    <Button Color="Color.Primary" Clicked="@personalDetails.ShowModal"> Choose Your Seat</Button>
                </FieldLabel>
                <FieldBody>
                </FieldBody>
            </Field>
                <Field>
                    <Button Class="booking-btn">
                        Show flights
                    </Button>
                </Field>

            </Form>
        </Div>
        <Div Class="col-md-6 col-sm-5">
            <Div class="booking-txt" TextAlignment="TextAlignment.Center">
                <h2>Planing <br /> Trip <br /> To <br />  Anywhere <br /> in <br /> The <br /> World?</h2>
            </Div>
        </Div>
    </Div>
</Div>

<PersonalDetails @ref="@personalDetails"></PersonalDetails>